@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --nav-color: black;
  --light-text-color: white;
  --light-background-color: #dedede;
  --accent-color-light: #2c75ff;
  --accent-color-strong: #3137fd;
  --title-font: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light-background-color);
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
